.newStyle3 {
    background-image: url('image/sun.jpg');
    background-position: 50% top;
    background-repeat: no-repeat;
   
    background-attachment: fixed;
    width: 1792px;
    margin-left: 0px;
    height: 920px;
    }

div {
    font: 80% Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-left: 200px;
    }

    body

{
    margin: 0;
    padding: 0;
}

